<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>{% block title %}Панель администратора{% endblock %}</title>
</head>
<body>
    <header class="admin-header">
        <div class="header-left">
        <!-- Кнопка "Учётные записи" -->
        <a href="/admin_main" class="header-tab {% if request.path == '/admin_main' %}active{% endif %}">
            УЧЁТНЫЕ ЗАПИСИ
        </a>

        <!-- Справочники с выпадающим меню -->
        <div class="dropdown">
            <div class="header-tab dropdown-toggle {% if 'reference' in request.view_args|default({}) or 'id' in request.view_args|default({}) %}active{% endif %} ">
                СПРАВОЧНИКИ <i class="fas fa-chevron-down"></i>
            </div>
            <div class="dropdown-content">
                <a href="/genre"><i class="fas fa-book"></i> Жанры</a>
                <a href="/theme"><i class="fas fa-tags"></i> Тематики</a>
                <a href="/publisher"><i class="fas fa-building"></i> Издательства</a>
                <a href="/author"><i class="fas fa-user-edit"></i> Авторы</a>
            </div>
        </div>
    </div>

        <div class="header-center">
            <div class="search-container">
                <input type="text" placeholder="Поиск по пользователям...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>

        <div class="header-right">
            <div class="header-tab"><i class="fas fa-database"></i> РЕЗЕРВНОЕ КОПИРОВАНИЕ</div>


                            <!-- Кнопка выхода -->
                <a href="{{ url_for('logout') }}" class="header-tab logout-button">
                    <i class="fas fa-sign-out-alt"></i> Выйти
                </a>
        </div>
    </header>

    {% block body %}
    <main class="admin-container">
        <h1>Страница админа</h1>
        <!-- Контент будет здесь -->
    </main>
    {% endblock %}

    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>